{{> head }}
{{> navbar}}
<div class="row">
    <div class="col">
        <h1>Andrea Carolina</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque quod nemo ratione, omnis deleniti natus enim quos tempora doloribus accusantium debitis, perferendis harum quae recusandae! Magni architecto impedit eum iste.</p>
    </div>

    <div class="col">
        <img src="assets/img/andrea.jpg" class="img-thumbnail" width="200px">
    </div>
</div>

{{> footer }}